@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

:root {
  --font: 'Lato', sans-serif;
  --big: 'Montserrat', sans-serif;

  --red: #ef2f3c;
  --white: #f6f4f3;
  --brown: #a52a2a;
  --olive: 	#808000;
  --yellow: #f0a202;
  --orange: 	#FF4500;
  --blue: 		#000080;
}

html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: var(--olive);
}

.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 650px;
  height: 480px;
}

h1 {
  font-family: var(--font);
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
}

#timer-1 {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  font-size: .7em;
  letter-spacing: 5px;
  margin-top: 25%;
}

.field {
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
}

.field:nth-child(1) {
  background: var(--red);
}

.field:nth-child(2) {
  background: var(--white);
  color: var(--brown);
}

.field:nth-child(3) {
  background: var(--orange);
}

.field:nth-child(4) {
  background: var(--yellow);

}

[data-value="days"],
[data-value="hours"],
[data-value="mins"],
[data-value="secs"] {
  font-family: var(--big);
  color: var(--blue);
  font-size: 4em;
}